
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 2rem;
}

.block{
    height: 30vh;
    width: 30vw;
    background-color: black;
    color: white;
    margin: 1rem;
}



.left {
    float: left;
    margin-right: 2rem;
}

.right {
    float: right;
    margin-left: 2rem;
}

.clear {
    clear: both;
}

body section {
    background-color: aqua;
    border: 2px solid black;
    margin: 2rem;
    display: flow-root;
}



