
/*RESET*/

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input, textarea, button {
    font: inherit;
}

/*VARIABLE*/

:root {
    /*  FONT  */
    --FF: 'Nunito', sans-serif;
    --FF-HEADEING: 'Roboto', sans-serif;
    --FS: clamp(1rem,2.2vh,1.5rem);

    /*  COLOR  */
    --BGCOLOR: orange;
    --BGCOLOR-FADE: #ecb679;

    --BODY-BGCOLOR:#fff;
    --FONT-COLOR:#000;
    --BORDER-COLOR:#333;

    --BGIMAGE:linear-gradient(to bottom,var(--BGCOLOR),var(--BGCOLOR-FADE));

    --HIGHLIGHT-COLOR: green;

    --LINK-COLOR: #000;
    --LINK-HOVER: rgba(0, 0, 0, 0.6);
    --LINK-ACTIVE: orange;

    --HEADER-COLOR: #fff;
    --HEADER-BGCOLOR:#000;

    --NAV-BGCOLOR: #FFF;
    --HERO-BGCOLOR:purple;

    --HERO-COLOR:#fff;
    --BUTTON-COLOR:#fff;

    /*  PADDDING  */
    --PADDING-TB:0.25em;
    --PADDING-SIDE: 2.5%;

    /*  BORDER  */
    --BORDER:1 px solid var(--BORDER-COLOR);
    --BORDER-RADIUS: 15px;

    /*  MARGIN  */
    --MARGIN:clamp(1em,2.5vh,1.5em);
}

/* UTILITY CLASS */

.nowrap {
    white-space: nowrap;
}

.center {
    text-align: center;
}

.offscreen {
    position: absolute;
    left: -10000px;
}

/* GENERAL STYLE */

html {
    scroll-behavior: smooth;
    font-size: var(--FS);
    font-family: var(--FF);
    background-color: var(--BGCOLOR);
    background-image: var(--BGIMAGE);
}

body {
    background-color: var(--BODY-BGCOLOR);
    color: var(--FONT-COLOR);
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
}

h1, h2, h3 {
    font-family: var(--FF-HEADEING);
    letter-spacing: 0.1em;
}

h2, h3 {
    color: var(--HIGHLIGHT-COLOR);
}

p {
    line-height: 1.5;
}

a:any-link {
    color: var(--LINK-COLOR);
}

a:hover,
a:focus-visible{
    color: var(--LINK-HOVER);
}

a:active {
    color: var(--LINK-ACTIVE);
}

/* HEADER  */

header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.header__h1 {
    background-color: var(--HEADER-BGCOLOR);
    color: var(--HEADER-COLOR);
    text-align: center;
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
}

.header__nav {
    background-color: var(--NAV-BGCOLOR);
    font-weight: bold;
    border-bottom: var(--BORDER);
    box-shadow: 0 6px 5px -5px  var(--BORDER-COLOR);
}

.header__ul {
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}

/* HERO */


/*.hero {*/
/*    position: relative;*/
/*}*/



/* FOOTER */

.footer {
    position: sticky;
    bottom: 0;
    background-color: var(--HEADER-BGCOLOR);
    color: var(--HEADER-COLOR);
    text-align: center;
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
}

.main {
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
}

.main__article {
    scroll-margin-top: 6.5rem;
    margin: var(--MARGIN);
}

.main__article:first-child {
    margin-top: 1em;
}

.main__article:last-child {
    min-height: calc(100vh - 20rem);
}

/* ABOUT */

.about__trivia {
    margin: var(--MARGIN);
}

.about__trivia-answer {
    margin-top: 1em;
}

/* CONTACT */

.contact__h2 {
    margin: 0;
}

.contact__fieldset {
    border: none;
}

.contact__p {
    margin: 1em 0;
}

.contact__label {
    display: block;
    font-weight: bold;
}

.contact__input,
.contact__textarea {
    padding: 0.5em;
    border-radius: var(--BORDER-RADIUS);
    border-width: 2px;
    width: 100%;
}

.contact__button {
    background-color: var(--HIGHLIGHT-COLOR);
    color: var(--BUTTON-COLOR);
    padding: 0.5em;
    font-weight: bold;
    border-radius: var(--BORDER-RADIUS);
}


/* MENU */

thead,tbody,tfoot,tr {
    display: contents;
}

.menu__container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas:
    "hd1 hd2 hd3"
    "cr cr1 cr1p"
    "cr cr2 cr2p"
    "cr cr3 cr3p"
    "sf sf1 sf1p"
    "sf sf2 sf2p"
    "sf sf3 sf3p"
    "cs cs cs";
    gap: 0.1em;
    margin-bottom: 1em;
}

.menu__cr {
    grid-area: cr;
}
.menu__sf {
    grid-area: sf;
}
.menu__cs {
    grid-area: cs;
}
.menu__cr,
.menu__sf,
.menu__cs,
.menu__header {
    color: var(--HIGHLIGHT-COLOR);
    font-weight: bold;
    height: 100%;
    display: grid;
    place-content: center;
}

.menu__header,
.menu__item {
    width: 100%;
    padding: .1em;
    border: medium ridge var(--BORDER-COLOR);
}

.menu__item {
    display: grid;
    place-content: center;
}